@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body
{
    font-size: 30px;
    background-color: rgb(219, 219, 219);
    min-height: 100%;
}

#div-getUserName
{
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
}

span
{
    position: relative;
    top: 5rem;
    transition: top 500ms ease-in-out;
    z-index: 10;
}

input
{
    width: 7rem;
    height: 4.5rem;
    font-size: 2rem;
    padding: 1.5rem 0 0;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    text-align: center;
    transition: width 500ms ease-in-out;
}

input:focus
{
    width: 15rem;
    outline: none;
}

input:focus~span
{
    top: 1.5rem;
}

.btnStart
{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
}

nav
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
    background-color: white;
    gap: 5px;
}

nav p
{
    font-size: 3rem;
}

.timerProgression
{
    height: 5px;
    background-color: green;
    animation: time 15s linear;
}

.stopProgession
{
    animation-play-state: paused;
}

@keyframes time
{
    0%
    {
        width: 0%;
    }

    100%
    {
        width: 100%;
    }
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 5vh;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#brandName
{
    margin-inline: 35px;
    margin-bottom: 0.5rem;
}

button
{
    border: none;
    box-shadow: 1px 1px 3px black;
    max-width: 250px;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.5s;
    border-radius: 10px;
}

.div-options
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media screen and (min-width: 600px)
{
    main
    {
        justify-content: space-evenly;
        height: 60vh;
        flex-direction: row;
    }

    nav
    {
        flex-direction: row;
        gap: 0;
    }

    .div-options
    {
        grid-template-columns: repeat(2, 1fr);
    }

    #timer
    {
        width: 150px;
    }

}

img
{
    width: 100%;
}

.correct
{
    background-color: rgb(0, 128, 0, 0.5);
    transform: scale(1.05);
}

.wrong
{
    background-color: rgb(255, 0, 0, 0.5);
}

.center-div
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(219, 219, 219, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
}

h1
{
    text-align: center;
}

.links
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    gap: 15px;
}

a
{
    text-decoration: none;
    color: black;
    padding: 2rem;
    text-align: center;
    background-color: rgb(245, 245, 245, 1);
    box-shadow: 1px 1px 5px black;
}

@media screen and (hover:hover)
{
    button:hover
    {
        transform: scale(1.05);
    }

    a:hover
    {
        opacity: 0.9;
        box-shadow: 2px 2px 5px black;
    }
}